<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  {% extends "base.html" %}

  {% block content %}

  <h1>Homepage</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus repellat natus tempore dicta reprehenderit illo assumenda quo sapiente! Repudiandae vitae, perferendis quas cum laboriosam incidunt? Veritatis voluptates corporis neque.</p>

  {% endblock content %}
</body>
</html>